a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: rgb(240, 238, 238);
}

a.navbar-brand:hover {
  color: rgb(23, 41, 202);
}
a.navbar-brand:focus {
  color: rgb(117, 117, 123);
}
.link-active {
  color: rgb(91, 15, 222);
}

ul li.nav-item a.nav-link {
  color: rgb(118, 77, 212);
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.nav-link a:hover {
  color: blue;
  background-color: aliceblue;
}

.navbar ul li a:hover {
  color: blue;
}

ul.nav a:hover {
  color: #470c0c !important;
}
