<div class="row">
  <div class="col-md-4">
    <h1>{{ movie.title }}</h1>
    <img src="/assets/img/{{ movie.posterUrl }}" class="poster" />
    <div class="trailer">
      <button
        type="button"
        class="btn btn-light trailer"
        (click)="openDialogMovie(url)"
      >
        <span
          ><img class="play_button" src="assets/img/youtube_logo.svg"
        /></span>
        <span class="txt">Watch Trailer</span>
      </button>
    </div>
  </div>

  <div class="col-md-8">
    <br />
    <br />
    <div class="row">
      <b class="movie-details col-md-2"> Description: </b>
      <div class="movie-data col-md-10">
        <p>{{ movie.description }}</p>
      </div>
      <br />
      <br />

      <b class="movie-details col-md-2"> Release date: </b>
      <div class="movie-data col-md-10">
        <p>{{ movie.releaseDate | date : "dd-MM-yyyy" }}</p>
      </div>
      <br />
      <br />

      <b class="movie-details col-md-2"> Actors: </b>
      <div class="col-md-10">
        <button
          class="button-plus-one"
          type="button"
          mat-mini-fab
          color="primary"
          (click)="openActorDialog()"
        >
          +</button
        >&nbsp;
        <div *ngFor="let actor of movie.actors" class="movie-data">
          <a [routerLink]="['/actor', actor.id]"
            >{{ actor.name }} {{ actor.secondName }}
          </a>
          &nbsp;, &nbsp;
        </div>
      </div>
      <br />
      <br />

      <b class="movie-details col-md-2">Genres: </b>
      <div class="movie-data col-md-10">
        <p>{{ movie.genres }}</p>
      </div>
      <br />

      <button type="button" class="btn btn-danger" (click)="remove(movie.id)">
        Delete
      </button>
    </div>

    <br />
    <br />
  </div>
</div>
